Repository josh-development/providers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RealShadowNova, @j122j, @dan-online, @eslachance

.github/CODEOWNERS:

/packages/json/**/*.ts @RealShadowNova
/packages/maria/**/*.ts @j122j
/packages/map/**/*.ts @RealShadowNova
/packages/mongo/**/*.ts @dan-online
/packages/postgresql/**/*.ts @RealShadowNova
/packages/redis/**/*.ts @dan-online
/packages/sqlite/**/*.ts @RealShadowNova

/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/benchmarks @RealShadowNova @dan-online
/scripts/ @RealShadowNova
LICENSE @eslachance
package.json @RealShadowNova
README.md @RealShadowNova

test(JSONProvider): invalid identifier
  packages/json/tests/lib/JSONProvider.test.ts
Owners: @RealShadowNova

feat(mongo): add metadata
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

test(SQLiteProvider): invalid identifier
  packages/sqlite/tests/lib/SqliteProvider.test.ts
Owners: @RealShadowNova

fix(QueryHandler): query syntax error
  packages/postgresql/src/lib/QueryHandler.ts
Owners: @RealShadowNova

test(SQLiteProvider): rename file
  packages/sqlite/tests/lib/SQLiteProvider.test.ts
Owners: @RealShadowNova

fix(mongo): remove version from doc
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

chore(benchmarks): cleanup
  benchmarks/package.json
  benchmarks/src/index.ts
  yarn.lock
Owners: @RealShadowNova, @dan-online

fix(mongo): init the metadata collection
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

test(mongo): use resolveVersion in production
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

fix(redis): add metadata
  packages/redis/src/lib/RedisProvider.ts
Owners: @dan-online

fix(benchmark): update dep and issues
  benchmarks/package.json
  benchmarks/src/index.ts
  benchmarks/src/lib/constants/benchmark-tests.ts
  benchmarks/src/tsconfig.json
  packages/redis/src/lib/RedisProvider.ts
  yarn.lock
Owners: @RealShadowNova, @dan-online

fix(mongo): use a text index
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

fix(QueryHandler): update specific table
  packages/postgresql/src/lib/QueryHandler.ts
Owners: @RealShadowNova

feat(maria): add metadata (#179)
  packages/maria/src/lib/MariaProvider.ts
  packages/maria/src/lib/QueryHandler.ts
Owners: @j122j

fix(redis): remove version from docs
  packages/redis/src/lib/RedisProvider.ts
Owners: @dan-online

test(mongo): add various extra tests
  packages/mongo/src/lib/MongoProvider.ts
  packages/mongo/tests/lib/MongoProvider.test.ts
Owners: @dan-online

fix(mongo): return version after set
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

fix(QueryHandler): metadata column
  packages/sqlite/src/lib/QueryHandler.ts
  packages/sqlite/src/lib/SQLiteProvider.ts
Owners: @RealShadowNova

chore(deps): bump provider
  benchmarks/package.json
  packages/json/package.json
  packages/map/package.json
  packages/maria/package.json
  packages/mongo/package.json
  packages/postgresql/package.json
  packages/redis/package.json
  packages/sqlite/package.json
  yarn.lock
Owners: @RealShadowNova

chore(yarn): regen lockfile
  yarn.lock
Owners: none

fix(mongo): migrations prevent data loss
  packages/mongo/src/lib/MongoProvider.ts
Owners: @dan-online

ci: use yarn registry
  .github/workflows/continuous-integration.yml
  .github/workflows/deprecate-on-merge.yml
  .github/workflows/documentation.yml
Owners: @RealShadowNova

fix(Queryhandler): metadata
  packages/postgresql/src/lib/QueryHandler.ts
Owners: @RealShadowNova
