Repository josh-development/providers, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RealShadowNova, @dan-online, @WilsontheWolf

.github/CODEOWNERS:

/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/benchmarks/ @RealShadowNova @dan-online
/packages/mongo/ @dan-online
/packages/json/ @RealShadowNova
/scripts/ @RealShadowNova
/tests/ @WilsontheWolf

chore(benchmarks): naming conventions
  benchmarks/src/index.ts
  benchmarks/src/lib/Benchmark.ts
Owners: @RealShadowNova, @dan-online

chore(benchmarks): add use() and simple redesigns
  benchmarks/src/index.ts
  benchmarks/src/lib/Benchmark.ts
  benchmarks/src/lib/constants/benchmark-tests.ts
  benchmarks/src/lib/functions/toTitleCase.ts
Owners: @RealShadowNova, @dan-online

chore(benchmarks): add export option and prompts
  .gitignore
  benchmarks/src/index.ts
  benchmarks/src/lib/Benchmark.ts
  benchmarks/src/lib/constants/benchmark-tests.ts
  benchmarks/src/lib/functions/toTitleCase.ts
  benchmarks/src/lib/types/BenchmarkType.ts
  package.json
Owners: @RealShadowNova, @dan-online

chore(workspace): add cspell words
  .vscode/settings.json
Owners: @RealShadowNova

feat(benchmark): scoring
  benchmarks/src/lib/Benchmark.ts
Owners: @RealShadowNova, @dan-online

feat(mongo): serialize option
  benchmarks/src/index.ts
  benchmarks/src/lib/Benchmark.ts
  packages/mongo/src/lib/MongoProvider.ts
Owners: @RealShadowNova, @dan-online

chore(benchmarks): remove old script
  benchmarks/src/lib/Benchmark.ts
  scripts/benchmark.mjs
Owners: @RealShadowNova, @dan-online

ci(mongo): typo
  .github/workflows/mongo.yml
Owners: @RealShadowNova

chore(json): fix tests
  packages/json/tests/lib/ChunkHandler.test.ts
  packages/json/tests/lib/File.test.ts
Owners: @RealShadowNova

chore: revisions
  README.md
  benchmarks/src/lib/Benchmark.ts
  package.json
  packages/json/README.md
  packages/json/src/lib/ChunkHandler.ts
  packages/json/src/lib/File.ts
  packages/mongo/README.md
  yarn.lock
Owners: @RealShadowNova, @dan-online

chore(deps): update eslint
  package.json
  yarn.lock
Owners: none

chore(revisions): apply suggestions
  .editorconfig
  .prettierrc
  packages/json/package.json
  packages/mongo/package.json
  scripts/generate/jobs.mjs
Owners: @RealShadowNova, @dan-online

chore(benchmarks): some simple formatting
  benchmarks/src/lib/Benchmark.ts
Owners: @RealShadowNova, @dan-online

chore(readmes): fix urls and add content to benchmarks
  README.md
  benchmarks/README.md
  packages/json/README.md
  packages/mongo/README.md
Owners: @RealShadowNova, @dan-online

chore(mongo): move generateMongo function to static
  packages/mongo/src/index.ts
  packages/mongo/src/lib/MongoProvider.ts
  packages/mongo/src/lib/functions/generateMongoDoc.ts
  packages/mongo/tests/lib/functions/generateMongoDoc.test.ts
Owners: @dan-online
