Repository josh-development/providers, pull requests merged in 2022-09, with the labels that each got.

#125 feat: add `@joshdb/maria`
  .github/workflows/continuous-tests.yml
  .github/workflows/documentation.yml
  .npm-deprecaterc.yml
  benchmarks/src/index.ts
  packages/maria/.cliff-jumperrc.yml
  packages/maria/.typedoc-json-parserrc.yml
  packages/maria/CHANGELOG.md
  packages/maria/README.md
  packages/maria/cliff.toml
  packages/maria/jest.config.mjs
  packages/maria/package.json
  packages/maria/rollup.config.ts
  packages/maria/src/index.ts
  packages/maria/src/lib/MariaProvider.ts
  packages/maria/src/lib/QueryHandler.ts
  packages/maria/src/tsconfig.json
  packages/maria/tests/lib/MariaProvider.test.ts
  packages/maria/tests/tsconfig.json
  packages/maria/tsconfig.eslint.json
  packages/maria/typedoc.json
  yarn.lock
Labels: feature, packages:maria

#141 feat(JSONProvider): add v1 migrations
  packages/json/src/lib/ChunkHandler.ts
  packages/json/src/lib/File.ts
  packages/json/src/lib/JSONProvider.ts
  packages/json/src/lib/chunk-files/ChunkFile.ts
  packages/json/src/lib/chunk-files/ChunkIndexFile.ts
  packages/json/src/lib/chunk-files/ChunkLockFile.ts
  packages/json/tests/lib/ChunkHandler.test.ts
  packages/json/tests/lib/File.test.ts
  packages/json/tests/lib/JSONProvider.test.ts
Labels: feature, packages:json

#142 fix(deps): update joshdb dependencies
  benchmarks/package.json
  packages/json/package.json
  packages/json/src/lib/ChunkHandler.ts
  packages/json/src/lib/JSONProvider.ts
  packages/json/src/lib/chunk-files/ChunkFile.ts
  packages/map/package.json
  packages/map/src/lib/MapProvider.ts
  packages/maria/package.json
  packages/maria/src/lib/MariaProvider.ts
  packages/maria/src/lib/QueryHandler.ts
  packages/mongo/package.json
  packages/mongo/src/lib/MongoProvider.ts
  packages/redis/package.json
  packages/redis/src/lib/RedisProvider.ts
  yarn.lock
Labels: dependencies

#146 chore(scripts): remove `generate` script
  package.json
  scripts/generate/generate.mjs
  scripts/generate/jobs.mjs
Labels: chore

#147 test: switch to `vitest`
  benchmarks/package.json
  jest.config.mjs
  package.json
  packages/json/jest.config.mjs
  packages/json/package.json
  packages/json/tests/tsconfig.json
  packages/json/vitest.config.ts
  packages/map/jest.config.mjs
  packages/map/package.json
  packages/map/tests/tsconfig.json
  packages/map/vitest.config.ts
  packages/maria/jest.config.mjs
  packages/maria/package.json
  packages/maria/tests/tsconfig.json
  packages/maria/vitest.config.ts
  packages/mongo/jest.config.mjs
  packages/mongo/package.json
  packages/mongo/tests/tsconfig.json
  packages/mongo/vitest.config.ts
  packages/redis/jest.config.mjs
  packages/redis/package.json
  packages/redis/tests/tsconfig.json
  packages/redis/vitest.config.ts
  scripts/vitest.config.ts
  tsconfig.eslint.json
  vitest.config.ts
  yarn.lock
Labels: tests

#113 feat: add `@joshdb/postgresql`
  .github/workflows/continuous-tests.yml
  .npm-deprecaterc.yml
  README.md
  benchmarks/src/index.ts
  benchmarks/src/lib/Benchmark.ts
  packages/postgresql/.cliff-jumperrc.yml
  packages/postgresql/.typedoc-json-parserrc.yml
  packages/postgresql/CHANGELOG.md
  packages/postgresql/README.md
  packages/postgresql/cliff.toml
  packages/postgresql/package.json
  packages/postgresql/rollup.config.ts
  packages/postgresql/src/index.ts
  packages/postgresql/src/lib/PostgreSQLProvider.ts
  packages/postgresql/src/lib/QueryHandler.ts
  packages/postgresql/src/tsconfig.json
  packages/postgresql/tests/lib/PostgreSQLProvider.test.ts
  packages/postgresql/tests/tsconfig.json
  packages/postgresql/tsconfig.eslint.json
  packages/postgresql/typedoc.json
  packages/postgresql/vitest.config.ts
  yarn.lock
Labels: feature, packages:postgresql
